.slipo-card-container {
  margin: 0px;
  padding: 0px;
}

.slipo-card-content {
  padding: 10px;
  margin-bottom: 20px;
}

.slipo-card-title {
  margin-top: 0px;
}

.slipo-card-item {
  font-size: 0.9rem;
}

.slipo-card-item td {
  padding: 2px;
}

.slipo-card-footer {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}

.slipo-card-footer-label {
  float: left;
}

.slipo-card-footer-link {
  float: right;
}

.slipo-card-icon {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 3rem;
}
