/*
 * Override Core UI styles
 */

.main {
  background-color: #e4e5e6;
}

h3 {
  font-size: 1.4rem;
}

.app-header.navbar {
  .nav-item {
    padding: 0px 10px;
    min-width: 60px;
  }

  .navbar-brand {
    padding: 0px;
    background-image: url("../images/logo.png");
    background-size: 90px auto;
  }
}

.img-avatar {
  height: 32px;
  border-radius: 0px;
}

.breadcrumb {
  margin-bottom: 1.4rem !important;
  padding: 0.70rem 1rem !important;
}

.app-footer {
  min-height: 51px;
  z-index: 1;
}

.card-block .tab-content {
  margin-top: -1px;
  border: 1px solid #cfd8dc;
}

.nav-tabs .nav-item {
  cursor: pointer;
}

.sidebar {
  z-index: 1;
}

.breadcrumb {
  z-index: 1;
}

.sidebar .nav .nav-item .nav-link.active i {
  color: #ffffff;
}

/*
 * Override Bootstrap styles
 */

.btn {
  cursor: pointer;
}

.dropdown-item {
  i {
    color: #9da2a4;
  }
}

section {
  padding: 10px 0px;
}

section:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (2rem * 2));
}

/*
 * Override default browser styles
 */

//https://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*
 * Custom styles
 */

.no-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-item.alert {
  margin-top: 5px !important;
}

.lang-select {
  margin-top: -2px !important;
}

.card-body {
  padding: 15px
}

.invalid-feedback {
  color: #E74856;
}

.modal-title {
  font-size: 1rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
}

.slipo-card-selected {
  border: 1px dashed #b0bec5;
}

.slipo-action-icon {
  cursor: pointer;
}

.slipo-action-link {
  cursor: pointer;
  text-decoration: underline !important;
}

.transparent {
  color: transparent;
}

/*
 * React Select should have its property classNamePrefix set to value 'predicate'
 */

.predicate__value-container {
  .predicate-score {
    display: none;
  }
}

/*
 * CodeMirror
 */

.CodeMirror {
  min-height: 600px;
}
