/**
 * Apply custom styles
 */

$font: sans-serif;

body {
   font-family: $font;
}

section {
   padding: 10px 0px;
}

section:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

.app-header.navbar {

  .nav-item {
    padding: 0px 10px;
    min-width: 60px;
  } 
}

/*
* Fix z-ordering for react-toastify / CoreUI header component 
*/
.toastify {
  z-index: 1030;
}

.toastify__progress {
  z-index: 1030;
}

/*
 * React-select
 */

.Select-control {
  border-radius: 0;
}

.Select:focus, .is-focused:not(.is-open) > .Select-control {
  border-color: #8ad4ee;
}
