/*
 * Override Core UI styles
 */

.main {
  background-color: #e4e5e6;
}

h3 {
  font-size: 1.4rem;
}

.app-header.navbar {
  .nav-item {
    padding: 0px 10px;
    min-width: 60px;
  }
  .navbar-brand {
    padding: 0px;
    background-image: url("../images/logo.png");
    background-size: 90px auto;
  }
}

.img-avatar {
  height: 32px;
  border-radius: 0px;
}

.breadcrumb {
  margin-bottom: 1.4rem !important;
  padding: 0.70rem 1rem !important;
}

.app-footer {
  min-height: 51px;
  z-index: 1;
}

.card-block .tab-content {
  margin-top: -1px;
  border: 1px solid #cfd8dc;
}

.nav-tabs .nav-item {
  cursor: pointer;
}

.sidebar {
  z-index: 1;
}

.breadcrumb {
  z-index: 1;
}


/*
 * Override Bootstrap styles
 */

.btn {
  cursor: pointer;
}

.dropdown-item {
  i {
    color: #9da2a4;
  }
}

section {
  padding: 10px 0px;
}

section:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}


/*
 * Custom styles
 */

.no-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-item.alert {
  margin-top: 5px !important;
}

.lang-select {
  margin-top: -2px !important;
}

.card-body {
  padding: 15px
}

.invalid-feedback {
  color: #E74856;
}

.modal-title {
  font-size: 1rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
}

.slipo-card-selected {
  border: 1px dashed #b0bec5;
}

.slipo-action-icon {
  cursor: pointer;
}
