/*
 * Variables
 */

$slipo-ev-layer-color: #616161 !default;
/*
 * Sidebar (layers)
 */

.slipo-pd-sidebar-map-layer-list {
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow-y: scroll;
  margin-right: -18px;
}

.slipo-pd-sidebar-map-layer-list-category {
  border-bottom: 1px solid #cfd8dc;
  padding: 11;
  font-weight: 600;
}

.slipo-pd-sidebar-map-settings {
  padding: 10px;
}

.slipo-pd-sidebar-feature-list {
  overflow-y: scroll;
  margin-right: -18px;
  max-height: 60vh;
}

.slipo-pd-sidebar-feature-list .card {
  margin-bottom: -1px;
  margin-left: -1px;
}

/*
 * Layer
 */

.slipo-ev-layer {
  width: 100%;
  padding: 5px 0px 3px 0px;
  border: 1px dotted $slipo-ev-layer-color;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  opacity: 1;
  &.slipo-ev-layer-active {
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
  }
}

.slipo-layer-toggle {
  margin-top: 0px;
  i {
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.slipo-layer-config {
  margin-top: 1px;
  i {
    padding: 5px;
    font-size: 1.4em;
    cursor: pointer;
  }
}

.slipo-layer-title {
  margin-top: 2px;
  flex-grow: 1;
}

.slipo-layer-legend {
  height: 30px;
  width: 30px;
}

.slipo-ev-layer-actions {
  display: none;
  position: relative;
}

.slipo-ev-layer-delete {
  right: 5px;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

.slipo-ev-layer-icon {
  text-align: center;
  font-size: 2rem;
}

.slipo-ev-layer-label {
  text-align: center;
}

.slipo-ev-layer:hover .slipo-ev-layer-actions,
.slipo-ev-layer-active .slipo-ev-layer-actions {
  display: block;
}

/*
 * Features
 */

.slipo-tl-table {
  margin: 10px 0px;
}

.slipo-tl-step {
  white-space: nowrap;
}

.slipo-tl-selected {
  font-weight: bold;
}

.slipo-tl-cell {
  border: 1px solid #cdcdcd;
  padding: 5px;
}

.slipo-tl-cell-odd {
  background: none;
}

.slipo-tl-cell-even {
  background: #eceff1;
}

.slipo-tl-image {
  max-width: 100%;
}
