%slipo-job-status {
  padding: 4px 4px;
  border-radius: 4px;
  text-align: center;
}

.slipo-job-status-failed {
  @extend %slipo-job-status;
  color: #D8000C;
  background-color: #FFBABA;
}

.slipo-job-status-stopped {
  @extend %slipo-job-status;
  color: #9F6000;
  background-color: #FEEFB3;
}

.slipo-job-status-running {
  @extend %slipo-job-status;
  color: #00529B;
  background-color: #BDE5F8;
}

.slipo-job-status-completed {
  @extend %slipo-job-status;
  color: #f3f3f3;
  background-color: #51A351;
}
