.slipo-map-body {
  overflow: hidden;
}

.slipo-map-container {
  margin-bottom: 10px;
}

.slipo-map-container-full-screen {
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100% !important;
  width: 100%;
  padding: 6rem 0px 50px 0px;
}

.slipo-map-property-modified {
  border: 1px solid #4dbd74;
}

.map-button {
  position: absolute;
  z-index: 1;
  right: 10px;
  background: #ffffff;
  padding: 0px 5px, ;
  border: 1px solid #616161;
  cursor: pointer;
  opacity: 0.4;

  &.selected {
    background: #616161;
    color: #ffffff;
    cursor: default;
  }

  &:hover {
    opacity: 1;
  }
}
