.slipo-map-body {
  overflow: hidden;
}

.slipo-map-container {
  margin-bottom: 10px;
}

.slipo-map-container-full-screen {
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100% !important;
  width: 100%;
  padding: 6rem 0px 50px 0px;
}
