.slipo-provenance-table {
  .rt-thead.-headerGroups {
    border-bottom: none !important;
  }
  .rt-tr-group {
    border-bottom: none !important;
  }
  .rt-tr {
    border-bottom: 1px solid #bdbdbd !important;
  }
  .slipo-th-level-1 {
    border-left: 2px solid #bdbdbd;
  }
  .slipo-th-level-2 {
    border-left: 2px solid #bdbdbd;
  }
  .slipo-tl-selected {
    font-weight: bold;
  }
  .slipo-tl-output {
    font-weight: bold;
  }
  .slipo-tl-modified {
    background: #e57373;
    padding: 3px;
    color: white;
  }
  .slipo-tl-cell {
    border: 1px solid #cdcdcd;
    padding: 5px;
  }
  .slipo-tl-cell-default {
    background: none;
  }
  .slipo-tl-cell-fuse-input-1 {
    background: #fff9c4;
  }
  .slipo-tl-cell-fuse-input-2 {
    background: #c8e6c9;
  }
  .slipo-tl-cell-fuse-action {
    background: none;
  }
  .slipo-tl-cell-fuse-value {
    background: #bbdefb;
  }
  .slipo-tl-cell-enrich {
    background: #eceff1;
  }
  .slipo-tl-image-container {
    position: relative;
    .slipo-tl-image {
      max-width: 100%;
    }
    .slipo-tl-image-updated {
      position: absolute;
      background: #eceff1;
      padding: 4px;
      width: 18px;
      top: -1px;
      left: -1px;
    }
  }
  .slipo-tl-table {
    margin: 10px 0px;
  }
  .slipo-tl-step {
    white-space: nowrap;
  }
  .slipo-tl-step-separator {
    border-left: 2px solid #bdbdbd;
  }
  .geometry-active {
    background: #517fa4;
    color: #ffffff;
  }
  .geometry-inactive {
    background: #cccccc;
    color: #263238;
  }
}
