.slipo-provenance-table {
  .rt-thead.-headerGroups {
    border-bottom: none !important;
  }
  .rt-tr-group {
    border-bottom: none !important;
  }
  .rt-tr {
    border-bottom: 1px solid #bdbdbd !important;
  }
  .slipo-th-level-1 {
    border-left: 2px solid #bdbdbd;
  }
  .slipo-th-level-2 {
    border-left: 2px solid #bdbdbd;
  }
  .slipo-tl-selected {
    font-weight: bold;
  }
  .slipo-tl-cell {
    border: 1px solid #cdcdcd;
    padding: 5px;
  }
  .slipo-tl-cell-default {
    background: none;
  }
  .slipo-tl-cell-fuse-input-1 {
    background: #fff9c4;
  }
  .slipo-tl-cell-fuse-input-2 {
    background: #c8e6c9;
  }
  .slipo-tl-cell-fuse-action {
    background: none;
  }
  .slipo-tl-cell-fuse-value {
    background: #bbdefb;
  }
  .slipo-tl-cell-enrich {
    background: #eceff1;
  }
  .slipo-tl-image {
    max-width: 100%;
  }
  .slipo-tl-table {
    margin: 10px 0px;
  }
  .slipo-tl-step {
    white-space: nowrap;
  }
  .slipo-tl-step-separator {
    border-left: 2px solid #bdbdbd;
  }
}
