.slipo-provenance-table {
  .slipo-tl-selected {
    font-weight: bold;
  }
  .slipo-tl-cell {
    border: 1px solid #cdcdcd;
    padding: 5px;
  }
  .slipo-tl-cell-odd {
    background: none;
  }
  .slipo-tl-cell-even {
    background: #eceff1;
    border-bottom: 1px solid #eceff1;
  }
  .slipo-tl-image {
    max-width: 100%;
  }
  .slipo-tl-table {
    margin: 10px 0px;
  }
  .slipo-tl-step {
    white-space: nowrap;
  }
}
