/*
 * Variables
 */

$slipo-pd-step-group-background: #EEEEEE !default;
$slipo-pd-data-source-color: #EEEEEE !default;
$slipo-pd-operation-color: #4FC3F7 !default;
$slipo-pd-operation-catalog-color: #7CB342 !default;
$slipo-pd-harvester-color: #f44336 !default;
$slipo-pd-resource-color: #616161 !default;
$slipo-pd-step-input-color: #616161 !default;
$slipo-pd-step-input-color-active: #EEEEEE !default;
$slipo-pd-step-color: #616161 !default;
$slipo-pd-step-group-odd: #E1F5FE !default;
$slipo-pd-step-group-even: #ECEFF1 !default;
$slipo-invalid-color:#E74856 !default;
/*
 * Misc
 */

.slipo-pd-tip {
  font-size: 0.7rem;
}

/*
 * Designer
 */

.slipo-pd-process {
  display: flex;
  min-height: 300px;
  border-radius: 2px;
  border: 1px solid transparent;
  overflow-x: scroll;
  padding-bottom: 20px;
}

/*
 * Designer items
 */

.slipo-pd-item {
  min-width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  display: inline-block;
  opacity: 1;
  cursor: move;
}

.slipo-pd-item-disabled {
  cursor: default;
}

.slipo-pd-item-is-dragging {
  opacity: 0.5;
}

.slipo-pd-item-label {
  text-align: center;
  padding: 0px 5px;
}

/*
 * Data Source
 */

.slipo-pd-data-source {
  background: $slipo-pd-data-source-color;
}

.slipo-pd-data-source:first-child {
  margin-left: 0;
}

.slipo-pd-data-source-icon {
  text-align: center;
  font-size: 2rem;
}

/*
 * Operation
 */

.slipo-pd-operation {
  background: $slipo-pd-operation-color;
  color: #fff;
}

.slipo-pd-operation-catalog {
  background: $slipo-pd-operation-catalog-color;
  color: #fff;
}

.slipo-pd-operation:first-child {
  margin-left: 0;
}

.slipo-pd-operation-icon {
  text-align: center;
  font-size: 2rem;
}

/*
 * Harvester
 */

.slipo-pd-harvester {
  background: $slipo-pd-harvester-color;
  color: #fff;
}

.slipo-pd-harvester:first-child {
  margin-left: 0;
}

.slipo-pd-harvester-icon {
  text-align: center;
  font-size: 2rem;
}

/*
 * Sidebar
 */

.slipo-pd-sidebar-resource-list-wrapper {
  margin-bottom: 58px;
}

.slipo-pd-sidebar-resource-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  margin-right: -18px;
  margin-bottom: -26px;
}

.slipo-pd-sidebar-resource-list-empty {
  border: none;
}

.slipo-re-sidebar-resource-list-wrapper {
  margin-bottom: 58px;
}

.slipo-re-sidebar-resource-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  margin-right: -18px;
  margin-bottom: -26px;
}

.slipo-re-sidebar-resource-list-empty {
  border: none;
}

/*
 * Resource
 */

.slipo-pd-resource {
  width: 100%;
  padding: 5px 0px;
  border: 1px dotted $slipo-pd-resource-color;
  border-radius: 0.25rem;
  margin: 0.25rem 0rem;
  display: inline-block;
  opacity: 1;
  cursor: move;
}

.slipo-pd-resource-active {
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
}

.slipo-pd-resource-is-dragging {
  opacity: 0.5;
}

.slipo-pd-resource:last-child {
  margin-bottom: 0;
}

.slipo-pd-resource-icon {
  text-align: center;
  font-size: 2rem;
}

.slipo-pd-resource-label {
  text-align: center;
}

.slipo-pd-resource-actions {
  display: none;
  position: relative;
}

.slipo-pd-resource-delete {
  right: 5px;
  position: absolute;
  top: 25px;
  cursor: pointer;
}

.slipo-pd-resource-view {
  right: 4px;
  position: absolute;
  top: 5px;
  color: black;
  cursor: pointer;
}

.slipo-pd-resource:hover .slipo-pd-resource-actions,
.slipo-pd-resource-active .slipo-pd-resource-actions {
  display: block;
}

.slipo-pd-properties {
  padding: 10px;
  max-height: 40vh;
  overflow: hidden auto;
  margin-right: -16px;
}

.slipo-pd-resource-property-label {
  font-weight: bold;
  font-size: 0.7rem;
}

.slipo-pd-resource-property-value {
  text-align: justify;
}

/*
 * Step Group
 */

.slipo-pd-step-group {
  border-right: 1px dotted #dadada;
  flex: 0 1;
}

.slipo-pd-step-group:last-child {
  border-right: none;
}

.slipo-pd-step-group-header {
  text-align: center;
  font-size: 1rem;
  padding: 4px;
  background: #EEEEEE;
  border-radius: 2px;
  margin: 0px 5px;
}

.slipo-pd-step-group:nth-child(odd) .slipo-pd-step-group-header {
  background: $slipo-pd-step-group-odd;
}

.slipo-pd-step-group:nth-child(even) .slipo-pd-step-group-header {
  background: $slipo-pd-step-group-even;
}

.slipo-pd-step-group-content {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  border-radius: 2px;
  border: 1px solid transparent;
  min-width: 234px;
  margin: 5px;
  position: relative;
}

.slipo-pd-step-group:nth-child(odd) .slipo-pd-step-group-content {
  background: $slipo-pd-step-group-odd;
}

.slipo-pd-step-group:nth-child(even) .slipo-pd-step-group-content {
  background: $slipo-pd-step-group-even;
}

.slipo-pd-step-group-can-drop {
  border: 1px solid $slipo-pd-step-group-background;
}

.slipo-pd-step-group-label {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: $slipo-pd-step-color;
}

/*
 * Step
 */

.slipo-pd-step {
  min-height: 100px;
  margin: 6px;
  border: 1px solid $slipo-pd-step-color;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.slipo-pd-step-active {
  border-width: 1px;
}

.slipo-pd-step-header {
  border-bottom: 1px solid $slipo-pd-step-color;
  padding: 5px 3px;
  display: flex;
  flex-direction: row;
}

.slipo-pd-step-invalid {
  border-color: $slipo-invalid-color;
}

.slipo-pd-step-active .slipo-pd-step-header {
  background: $slipo-pd-step-color;
  color: white;
}

.slipo-pd-step-active .slipo-pd-step-header.slipo-pd-step-invalid {
  background: $slipo-invalid-color;
  color: white;
}

.slipo-pd-step-name-input-wrapper {
  width: 100%;
}

.slipo-pd-step-name-input {
  border: none;
  text-overflow: ellipsis;
  flex: 1;
  z-index: 1;
  width: 100%;
}

.slipo-pd-step-name-input:focus {
  outline: none;
  background: none;
  border-radius: 0px;
}

.slipo-pd-step-active .slipo-pd-step-name-input {
  background: $slipo-pd-step-color;
  color: white;
}

.slipo-pd-step-active.slipo-pd-step-invalid .slipo-pd-step-name-input {
  background: $slipo-invalid-color;
  color: white;
}

.slipo-pd-step-icon {
  margin: 5px 5px 0px 2px;
}

.slipo-pd-step-actions {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.slipo-pd-step-action {
  margin: 5px 0px 0px 5px;
}

.slipo-pd-step-footer {
  padding: 5px;
  color: #263238;
  font-size: 0.7rem;
}

/*
 * Step input container
 */

.slipo-pd-step-input-container-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.slipo-pd-step-input-container {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: dotted 1px $slipo-pd-step-color;
  padding: 0.25rem;
  min-height: 150px;
  flex-grow: 1;
}

.slipo-pd-step-input-container-full {
  border: none;
}

/*
 * Step input
 */

.slipo-pd-step-input {
  width: 100%;
  min-height: 5rem;
  border: 1px dotted $slipo-pd-step-input-color;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.slipo-pd-step-input-active {
  background: $slipo-pd-step-input-color-active;
  border: 1px solid $slipo-pd-step-input-color-active;
}

.slipo-pd-step-input-invalid {
  border-color: $slipo-invalid-color;
}

.slipo-pd-step-input-active.slipo-pd-step-input-invalid {
  background: $slipo-invalid-color;
  color: white;
}

.slipo-pd-step-input:last-child {
  margin-bottom: 0;
}

.slipo-pd-step-input-icon {
  text-align: center;
  font-size: 2rem;
}

.slipo-pd-step-input-label {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.slipo-pd-step-input-part-key {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.slipo-pd-step-input-part-key-enabled {
  text-decoration: underline;
  cursor: pointer;
}

.slipo-pd-step-input-partial-output-popover {
  border: 1px dotted #616161;
  border-radius: 0.25rem;
  padding: 10px 10px 0px 10px;
}

/*
 * Step input resource
 */

.slipo-pd-step-resource-actions {
  display: none;
  position: relative;
}

.slipo-pd-step-resource-action {
  position: absolute;
  cursor: pointer;
}

.slipo-pd-step-resource-delete {
  right: 5px;
}

.slipo-pd-step-resource-view {
  right: 4px;
  color: black;
}

.slipo-pd-step-resource-0 {
  top: 5px;
}

.slipo-pd-step-resource-1 {
  top: 25px;
}

.slipo-pd-step-input:hover .slipo-pd-step-resource-actions,
.slipo-pd-step-input-active .slipo-pd-step-resource-actions {
  display: block;
}

/*
 * Step input data source
 */

.slipo-pd-step-data-source-actions {
  display: none;
  position: relative;
}

.slipo-pd-step-data-source-action {
  position: absolute;
  cursor: pointer;
}

.slipo-pd-step-data-source-config {
  right: 4px;
  top: 5px;
}

.slipo-pd-step-data-source-delete {
  right: 5px;
  top: 25px;
}

.slipo-pd-step-input:hover .slipo-pd-step-data-source-actions,
.slipo-pd-step-input-active .slipo-pd-step-data-source-actions {
  display: block;
}

/*
 * Table
 */

.slipo-table-row-action {
  cursor: pointer;
}

/*
 * Errors
 */

.slipo-pd-error-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}

.slipo-pd-error-list-wrapper {}

.slipo-pd-error-list {}

.slipo-pd-error {
  border-bottom: 1px solid #cfd8dc;
}

.slipo-pd-error-item {
  padding: 0px 5px 10px 5px;
  vertical-align: top;
}

.slipo-pd-error-item.slipo-pd-error-icon {
  &.error {
    color: #f86c6b;
  }
  &.warning {
    color: #f8cb00;
  }
}

.slipo-pd-error-item td.slipo-pd-error-text {}
