.img-avatar {
    height: 32px;
    border-radius: 0px;
}

.app-header.navbar { 
    .navbar-brand {
        padding: 0px;
        background-image: url("../images/logo.png");
        background-size: 90px auto;
    }
}
