<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Appenders>
        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout pattern="%-5p [%-8t] %c{1.}:%L - %m%n" />
        </Console>

        <RollingFile name="file" filename="${sys:catalina.base}/logs/workbench-rpc-server.log"
            filepattern="${sys:catalina.base}/logs/workbench-rpc-server-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%-8t] %c{1.}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <JDBC name="table" tableName="public.log4j_message">
            <DataSource jndiName="java:/comp/env/jdbc/slipo-workbench" />
            <Column name="application" literal="'rpc-server'" />
            <Column name="generated" isEventTimestamp="true" />
            <Column name="level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger" isUnicode="false" />
            <Column name="message" pattern="%message" isUnicode="false" />
            <Column name="throwable" pattern="%ex{full}" isUnicode="false" />
        </JDBC>

    </Appenders>
    
    <Loggers>
    
        <Logger name="eu.slipo.workbench.rpc" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
    
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="table" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>

</Configuration>

