logs/
target/
build/
lib/

**/*.*~
**/*.~

**/*.min.js
!apidoc/template/**/*.min.js
**/*.log

.settings/
.project
.classpath

node
node_modules
npm-debug.log

src/main/resources/public/assets/js/build
src/main/resources/public/assets/images
src/main/resources/public/assets/lib
src/main/resources/public/assets/data

src/main/resources/public/docs

bower_components
jspm_packages

*.tar.gz
*.zip
*.rar

src/main/resources/log4j.properties
src/main/resources/log4j2.xml
src/main/resources/log4j2-test.xml
src/main/resources/config

generated-sql/

apidoc/docs
jsdoc/

Gruntfile-local.js
