# vim: set syntax=yaml:

version: "3"

services:

  "rpc_server":
    image: local/slipo-workbench-rpc-server:0.0.1
    build:
      context: ./rpc-server/target/docker-build/

    environment:
      PROFILE: "development"
      DB_HOST: "db-server"
      DB_NAME: "slipo-workbench" 
      DB_USERNAME: "slipo" 
      DB_PASSWORD_FILE: "/etc/secrets/db-password"
    
    extra_hosts:
    - 'db-server:${DATABASE_SERVER}'
    - 'docker-n1-server:${DOCKER_SERVER_1}'

    ports:
    - '127.0.0.1:9080:8080'
    
    volumes:
    - /mnt/nfs-1/app-data/slipo-workbench/:/mnt/nfs-1/app-data/slipo-workbench/:rw
    - .secrets/db-password:/etc/secrets/db-password:ro

  "webapp":
    image: local/slipo-workbench-webapp:0.0.1
    build:
      context: ./webapp/target/docker-build/
    
    extra_hosts:
    - 'db-server:${DATABASE_SERVER}'
    
    links:
    - 'rpc_server:rpc-server'
    
    ports:
    - '127.0.0.1:8080:8080'
    - '127.0.0.1:8009:8009'

    environment:
      PROFILE: "development"
      DB_HOST: "db-server"
      DB_NAME: "slipo-workbench" 
      DB_USERNAME: "slipo" 
      DB_PASSWORD_FILE: "/etc/secrets/db-password"

    volumes:
    - /mnt/nfs-1/app-data/slipo-workbench/:/mnt/nfs-1/app-data/slipo-workbench/:rw
    - .secrets/db-password:/etc/secrets/db-password:ro

volumes: {}

