
version: "3"

services:

  "slipo-workbench-rpc-server":
    image: slipo-workbench-rpc-server:0.0.1-SNAPSHOT
    build:
      context: ./target/docker-build/
    
    hostname: slipo-workbench-rpc-server-1
    
    external_links:
    - postgres-1:postgres-1
    
    environment:
      PROFILE: "development"
      DB_HOST: "postgres-1"
      DB_NAME: "slipo-workbench" 
      DB_USERNAME: "slipo" 
      DB_PASSWORD_FILE: "/etc/secrets/db-password"
    
    volumes:
    - /media/qnap/app-data/slipo-workbench/:/media/qnap/app-data/slipo-workbench/:rw
    - .secrets/db-password:/etc/secrets/db-password:ro

volumes: {}
