<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Appenders>
        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-16X{client.remote-address} %-14.16X{client.username} %-5p %c{1.}:%L - %m%n" />
        </Console>

        <RollingFile name="file" filename="${sys:catalina.base}/logs/workbench-webapp.log"
            filepattern="${sys:catalina.base}/logs/webapp-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-16X{client.remote-address} %-14.16X{client.username} %-5p %c{1.}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <JDBC name="table" tableName="public.log4j_message">
            <DataSource jndiName="java:/comp/env/jdbc/slipo-workbench" />
            <Column name="application" literal="'webapp'" />
            <Column name="generated" isEventTimestamp="true" />
            <Column name="level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger" isUnicode="false" />
            <Column name="message" pattern="%message" isUnicode="false" />
            <Column name="throwable" pattern="%ex{full}" isUnicode="false" />
            <Column name="client_address" pattern="%X{client.remote-address}" isUnicode="false" />
            <Column name="username" pattern="%X{client.username}" isUnicode="false" />
        </JDBC>

    </Appenders>
    
    <Loggers>
        <Logger name="org.hibernate.SQL" level="WARN"></Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="table" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>

</Configuration>
