/logs/
/target/
/data/
/secrets/

**/*.min.js
!apidoc/template/**/*.min.js

.settings/
.project
.classpath

node
node_modules
npm-debug.log

ScratchController.java

/src/main/resources/public/docs
/src/main/resources/config/*.properties
/src/main/resources/config/*.xml
/src/main/resources/config/*.yml
/config/*.properties
/config/*.xml
/config/*.yml

bower_components
jspm_packages

/apidoc/docs
/jsdoc/

/Gruntfile-local.js

.sass-cache
